<div class="container">

	<form action='/tweetit' method ="POST">
	Type your tweet:
	<input type="text" name="text">
	<input type="submit" value="Submit">
	</form>

  <div id="send_tweet">

  </div>


</div>
